<div class="container-fluid">
    @for(var i = 1; i <= 5; i++)
    {
        if (i <= RatingValue)
        {
            <span class="oi oi-star star"></span>
        }
        else
        {
            <span class="oi oi-star"></span>
        }
    }
</div>

@code {
    [Parameter]
    public int RatingValue { get; set; }
}